.modal-window{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.55);
  cursor: default;
}

.modal-count{
  width: 70vw;
  height: 70vh;
  background-color: #fff;
  padding: 15px;
  position: relative;
  animation-name: openModal;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes openModal{
  0%{
    transform: scale(0.5, 0.5)
  }
  100%{
    transform: scale(1, 1)
  }
}

.modal-close{
  position: absolute;
  width: 30px;
  height: 30px;
  top: -9px;
  right: -9px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s;
}
.modal-close:hover{
  color: #337AB7;
}

.modal-wrapper{
  display: flex;
  justify-content: space-between;
}

.project-modal-img{
  width: 50%;
  max-height: 400px;
  margin: 30px 15px 15px 0;
}
.modal-titles{
  font-weight: bold;
}

.modal-titles a{
  font-weight:400;
  text-decoration: none;
  cursor: pointer;
}
.modal-titles a:visited{
 color: #000;
}
.modal-titles a:hover{
  color: #337AB7;
}
