.change-project-count{
  padding: 10px 40px;
  text-align: end;
}

.change-project-view{
height: 30px;
width: 30px;
cursor: pointer;
margin: 0 5px;
transition: all 0.3s;
}
.change-project-view:hover{
 color: #337AB7;
}

.project-list-count{
  display: flex;
  width: 90vw;
  flex-wrap:wrap;
}